body {
    position: relative;
}

main {
    height: 40vw;
    width: 100%;
    display: flex;
    background-color: #ffffff;
}

#esq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    height: 79%;
    width: 38%;
    margin-left: 1%;
    margin-right: 1%;
}

#dir {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 5rem;
    height: 79%;
    width: 59%;
    margin-left: 1%;
    margin-right: 1%;
    max-height: 79%;
    overflow-y: auto;
    max-width: auto;

}

label {
    text-align: left;
    margin: 2px;
    font-size: 20px; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    width: 150px; 
    display: inline-block; 
    margin-left: 120px;
    margin-top: 30px;
    color: #252629;
}

form {
    width: 100%; 
    padding: 10px; 
}

.ipt {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

input, select {
    text-align: left;
    margin: 2px;
    font-size: 15px; 
    border: 3px solid #252629;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding: 5px; 
    width: 260px; 
    margin-top: 30px;
    margin-left: 10px;
    color: #252629;
    background-color: white;
    
}

input:focus, select:focus, option:focus{

    background-color: #252629;
    color: white;

}

select{

    width:280px ;

}

#btn_submit{

    margin-left: 200px;
    background-color: #252629;
    color: #ffffff;
    text-align: center;
    transition: box-shadow 0.3s;
    transition: ease-in-out 0.3s;
    border-radius: 3px;
    margin-top: 10px;
}

#btn_submitEPI{
    margin-left: 200px;
    background-color: #252629;
    color: white;
    text-align: center;
    transition: box-shadow 0.3s;
    transition: ease-in-out 0.3s;
    border-radius: 3px;
}

#btn_submitEPI:hover{

    border: rgb(0, 0, 0) 3px solid;
    box-shadow: 2px 2px 2px #000000;

}

#btn_submit:hover{

    border: rgb(0, 0, 0) 3px solid;
    box-shadow: 2px 2px 2px #000000;

}

#btn_submit2{

    margin-left: 200px;
    background-color: #252629;
    color: white;
    text-align: center;
    transition: box-shadow 0.3s;
    transition: ease-in-out 0.3s;
    border-radius: 3px;
    margin-top: 70px;

}


#btn_submit2:hover{

    border: rgb(0, 0, 0) 3px solid;
    box-shadow: 2px 2px 2px #000000;

}

.table
{
    border-collapse:collapse;
    width: 910px;
    border: solid #000000 3px;
    border-radius: 10px;

}


.table th, .table td
{
    border: 2px solid #303135;
    padding: 8px;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #252629;
    overflow: hidden;

}
.table th
{
    background-color: #252629;
    color: white;
    font-size: 20px;
}

#img_colab {

    width: 330px ;

}

#img_colab_view {

    width: 120px;
    height: 120px;
    border:#252629 solid 3px;
    border-radius: 5px;
    margin-left: 270px;
    margin-top: 20px;

}

#img_foto_colab {

    display: block;
    margin: 0;
    height: 120px;
    width: 120px;

}

.table tbody tr:nth-child(even) {
    background-color: #fafafa; 
}


.table td {
    padding: 10px;
    border: 1px solid rgb(139, 139, 139); 
    font-style: normal;
}


.table tfoot {
    font-weight: bold;
    background-color: #3498db; 
    color: #fff; 
}

#ipt2 {

    margin-top: 55px;

}

.btn_alterar{
    
    background-image: url(../imagens/pencil.png);
    background-size: 2rem;
    background-position: center;
    width: 2rem;
    height: 2rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: box-shadow 0.3s;
    transition: ease-in-out 0.3s;

}

.btn_excluir{

    background-image: url(../imagens/trash.png) ;
    background-size: 2rem ;
    background-position: center;
    width: 2rem;
    height: 2rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: box-shadow 0.3s;
    transition: ease-in-out 0.3s;

}

.btn_finalizar{

    background-image: url(../imagens/true.png) ;
    background-size: 2rem ;
    background-position: center;
    width: 2rem;
    height: 2rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: box-shadow 0.3s;
    transition: ease-in-out 0.3s;

}

.btn_finalizar:hover, .btn_excluir:hover, .btn_alterar:hover{

    color: white;
    box-shadow: 3px 3px 3px #252629;
    background-color: #252629 ;
    border-radius: 5px;

}

#sair{
    margin-left: 11rem;
}

.tdd {

    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: transparent;
    transition: box-shadow 0.3s;
    transition: ease-in-out 0.3s;

}

.form.colabs{
    margin: 0px;
}

.esqLarge div, .esqLarge input, .esqLarge select, .esqLarge label{

    margin-top: 5px;
    padding-top: 2px;
    font-size: 14px; 


}

#tableEPI{

    margin-top: 25px;

}

.esqEmp div {

    margin-top: 15px;

}

#tableEmp {

    margin-top: 20px;

}

.esqSmall div, .esqSmall input, .esqSmall select, .esqSmall label{

    margin-top: 25px;
    padding-top: 2px;

}

#btn_s_user{

    margin-top: 55px;
    margin-bottom: 55px;
} 

#table2epi{

    margin-top: 22%;

}

.ipt3 label{

    text-align: left;
    margin: 2px;
    font-size: 20px; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    width: 150px; 
    display: inline-block; 
    margin-left: 120px;
    margin-top: 30px;
    color: #191824;

}

.ipt3 input{

    font-size: 20px;
    padding: 5px;

}

.ipth1{

    text-align: left;
    margin: 2px;
    font-size: 25px; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    width: 150px; 
    display: inline-block; 
    margin-left: 120px;
    color: #191824;
    padding-top: 0px;


}

.ipt3{

    margin-top: 5px;
    justify-content: start;

}

#form_colabs{

    margin-top: 5px;
    padding: 0px;
    margin: 0px;

    text-align: start;

}

#btn_buscar{

    margin-left: 90px;
    margin-top: 40px;

}