footer div {

    width: 100%;
    height: 4.2rem;
    background-image: url('../imagens/background.png');
    background-size: cover;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}




